
/* VARIABLES */
:root
{
  --dark1: #222222;
  --dark2: #2d2d2d;

  --gray1: #CCBBAA;
  --gray2: #AA9988;

  --highlight1: #cc8800;
  --highlight2: #ffcc44;

  --text-pc: 1.15rem;
  --text-mobile: 1.5rem;
  --size-nav: 1rem;
  --font: Arial, Helvetica, sans-serif;
}



html
{
  display: block;
}

p
{
  font-size: 2em

}
