
/* VARIABLES */
:root
{
  --dark1: #2d2d2d;
  --dark2: #222222;
  --dark3: #151515;

  --gray1: #CCBBAA;
  --gray2: #AA9988;

  --highlight1: #eeaa22;
  --highlight2: #ffcc44;

  --size-text: 1rem;
  --size-nav: 1rem;
}


/* NAVBAR */
.navbar
{
  background-color: var(--dark2);

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar a
{
  color: var(--highlight1);
  font-size: var(--size-nav);

  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover
{
  background-color: var(--dark3);
  color: var(--highlight2);
}


/* HEADER & TEXT */
*
{
  /* comic sans doesn 't WORK man... why :( */
  /* font-family: "Comic Sans MS", "Comic Sans"; */
  color: var(--gray2);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: var(--size-text);

}



h1, h2
{
  color: var(--gray1);

  font-weight: bold;
  line-height: 1;
}

ul:not(.navbar) li {
  list-style-type: disc;
}


/* QUOTES & CODE */
code, blockquote
{
  font-style: italic;
  background-color: var(--dark2);
  color: var(--gray2);

  max-width: 100%;
  white-space: pre-wrap;
  display: block;
  padding: 10px;
  margin: 0;
}


/* HYPERLINKS */
a {
  color: var(--highlight1);
  text-decoration: none;
}

a:hover {
  color: var(--highlight2);
  text-decoration: underline;
}

summary {
  color: var(--highlight2);
  background-color: var(--gray2);
}


/* FORMATTING */
body {
  background-color: var(--dark1);
  padding: 50px;
  margin: auto;
  max-width: 800px;
}

.center {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img {
  width: 800px;
  max-width: 100%;
}



.header {
      padding: 2rem;
      text-align: center;
}

.logo {
  width: 8rem;
  height: 8rem;
}
