
/* VARIABLES */
:root
{
  --dark1: #222222;
  --dark2: #2d2d2d;

  --gray1: #CCBBAA;
  --gray2: #AA9988;

  --highlight1: #cc8800;
  --highlight2: #ffcc44;

  --text-pc: 1.2rem;
  --text-mobile: 1.5rem;
  --size-nav: 1rem;
  --font: Arial, Helvetica, sans-serif;
}







/* pc */
@media (min-width: 1000px)
{
  html
  {
    font-family: var(--font);
    display: block;
    background-color: var(--dark1);
    margin: auto;
    max-width: 800px;
  }

  .header
  {
        padding: 2rem;
        text-align: center;
  }

  .logo
  {
    width: 8rem;
    height: 8rem;
  }

  .navbar
  {
    background-color: var(--dark2);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navbar li
  {
    float: left;
  }

  .navbar a
  {
    color: var(--highlight1);
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }

  .navbar a:hover
  {
    background-color: var(--dark1);
    color: var(--highlight2);
  }

  h1, h2
  {
    color: var(--gray1);
  }

  p
  {
    font-size: var(--text-pc);
    color: var(--gray2);
    white-space: pre-wrap;
  }

  a {
    color: var(--highlight1);
    text-decoration: none;
  }

  a:hover {
    color: var(--highlight2);
    text-decoration: underline;
  }

  li
  {
    color: var(--gray2);
  }

  .thumbnail {
    width: 800px;
    max-width: 100%;
  }

  code, blockquote
  {
    font-style: italic;
    background-color: var(--dark2);
    color: var(--gray2);

    max-width: 100%;
    white-space: pre-wrap;
    display: block;
    padding: 10px;
    margin: 0;
  }
}




/* mobile */
@media (max-width: 1000px)
{
  html
  {
    font-family: var(--font);
    display: block;
    background-color: var(--dark1);
    margin: auto;
    max-width: 800px;
  }

  .header
  {
        padding: 2rem;
        text-align: center;
  }

  .logo
  {
    width: 8rem;
    height: 8rem;
  }

  .navbar
  {
    display: none;
  }

  h1, h2
  {
    color: var(--gray1);
  }

  p
  {
    font-size: var(--text-mobile);
    color: var(--gray2);
    white-space: pre-wrap;
  }

    li
    {
      color: var(--gray2);
    }

  a {
    color: var(--highlight1);
    text-decoration: none;
  }

  a:hover {
    color: var(--highlight2);
    text-decoration: underline;
  }

  .thumbnail {
    width: 800px;
    max-width: 100%;
  }

  code, blockquote
  {
    font-style: italic;
    background-color: var(--dark2);
    color: var(--gray2);

    max-width: 100%;
    white-space: pre-wrap;
    display: block;
    padding: 10px;
    margin: 0;
  }
}
