
* {
/* VARIABLES    ======================================== */
/* ===================================================== */
  --test: #FF0000;

  --header: #CCBBAA;
  --text1: #AA9988;

  --background1: #222222;
  --background2: #2d2d2d;
  --background3: #333333;
  --background4: #555555;

  --accent1: #bb6633;
  --accent2: #eeaa22;
  --accent3: #ffcc44;

  --h1-size: 1.50em;
  --h2-size: 1.25em;
  --h3-size: 1.10em;

/* FONT OPTIONS ======================================== */
/* ===================================================== */
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  color: var(--text1);
}

/* HEADER  ============================================ */
/* ==================================================== */
h1, h2 {
  color: var(--header);
  font-weight: bold;
  line-height: var(--h1-size);
}

/* CODE & QUOTES ======================================= */
/* ===================================================== */
code, blockquote {
  background-color: var(--background1);
  color: var(--text1);
  padding: 1em;
  border left: 5px solid #555;
  max-width: 100%;
  white-space: pre-wrap;
  display: block;
  padding: 10px;
}

/* HYPERLINKS   ======================================== */
/* ===================================================== */
a {
  color: var(--accent2);
  text-decoration: none;
}

a:hover {
  color: var(--accent3);
  text-decoration: underline;
}

summary {
  color: var(--accent3);
  background-color: var(--background1);
}




/* FORMATTING   ======================================== */
/* ===================================================== */
body {
  background-color: var(--background2);
  padding: 50px;
  margin: auto;
  max-width: 800px;
}

.center {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail {
  width: 800px;
  max-width: 100%;
}

.social {
  width: 50px;
  height: 50px;
}




/* NAVBAR       ======================================== */
/* ===================================================== */
.navbar {
    background-color: var(--background1);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--accent1);
}

.navbar a:hover {
    background-color: var(--background3);
    color: #ffcc44;
}

.header {
      padding: 10px;
      text-align: center;
}

.logo {
  width: 125px;
  height: 125px;
}
