
/* HEADERS & TEXT */
* {
  /* comic sans doesn 't WORK man... why :( */
  /* font-family: "Comic Sans MS", "Comic Sans"; */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #AA9988;
}

h1, h2 {
  color: #CCBBAA;
  font-weight: bold;
  line-height: 1;
}

code, blockquote {
  background-color: #222222;
  color: #888888;
  padding: 1em;
  border left: 5px solid #555;
  max-width: 100%;
  white-space: pre-wrap;
  display: block;
  padding: 10px;
}

a {
  color: #eeaa22;
  text-decoration: none;
}

a:hover {
  color: #ffcc44;
  text-decoration: underline;
}

summary {
  color: #ffcc44;
  background-color: #363533;
}




/* FORMATTING */
body {
  background-color: #2d2d2d;
  padding: 50px;
  margin: auto;
  max-width: 800px;
}

.center {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail {
  width: 800px;
  max-width: 100%;
}

.social {
  width: 50px;
  height: 50px;
}




/* NAVBAR */
.navbar {
    background-color: #1d1d1d;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #bb6633
}

.navbar a:hover {
    background-color: #151515;
    color: #ffcc44;
}

.header {
      padding: 10px;
      text-align: center;
}

.logo {
  width: 125px;
  height: 125px;
}
